<a href="https://colab.research.google.com/github/DSabarish/netflix_data_analysis/blob/main/Untitled77.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#importing	libraries	for	our	purpose
import pandas	as	pd
import numpy	as	np
import matplotlib.pyplot	as	plt
import seaborn	as	sns

url = "https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/000/940/original/netflix.csv"
df = pd.read_csv(url)

df.info()

# len = 8807 entries
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [9]:
missing_values = df.isnull()
tidy = df.loc[~missing_values.any(axis=1)]
miss = df.loc[missing_values.any(axis=1)]

In [14]:
tidy.shape

(5332, 12)

In [11]:
miss.shape

(3475, 12)

In [24]:
import pandas as pd

def data_quality_statistics(df):
    """
    This function takes a DataFrame as input and returns a DataFrame containing data quality statistics
    for each column in the DataFrame.

    Args:
      df: A Pandas DataFrame.

    Returns:
      A DataFrame containing data quality statistics for each column.
    """

    # Number of rows in the DataFrame
    num_rows = df.shape[0]

    # List to store statistics for each column
    stats = []

    # Iterate over columns
    for col in df.columns:
        # Number of unique values
        num_unique = df[col].nunique()

        # Number of duplicates
        num_duplicates = df.duplicated(subset=[col]).sum()

        # Number of NaN values
        num_nan = df[col].isnull().sum()

        # Percentage of NaN values
        pct_nan = (num_nan / num_rows) * 100 if num_rows > 0 else 0

        # Additional statistics as needed
        # For example, you can calculate mean, median, min, max, etc.

        # Append statistics to the list
        stats.append({
            'Column': col,
            'Number of Rows': num_rows,
            'Number of Unique Values': num_unique,
            'Number of Duplicates': num_duplicates,
            'Number of NaN': num_nan,
            'Percentage of NaN': round(pct_nan,2),
            # Add more statistics here if needed
        })

    # Convert list of dictionaries to DataFrame
    stats_df = pd.DataFrame(stats)

    return stats_df

data_quality_statistics(df)

,Column,Number of Rows,Number of Unique Values,Number of Duplicates,Number of NaN,Percentage of NaN
0,show_id,8807,8807,0,0,0.00
1,type,8807,2,8805,0,0.00
2,title,8807,8807,0,0,0.00
3,director,8807,4528,4278,2634,29.91
4,cast,8807,7692,1114,825,9.37
5,country,8807,748,8058,831,9.44
6,date_added,8807,1767,7039,10,0.11
7,release_year,8807,74,8733,0,0.00
8,rating,8807,17,8789,4,0.05
9,duration,8807,220,8586,3,0.03
10,listed_in,8807,514,8293,0,0.00
11,description,8807,8775,32,0,0.00

In [34]:
missing_values = df.isnull()
tidy = df.loc[~missing_values.any(axis=1)]
miss = df.loc[missing_values.any(axis=1)]

print(tidy.shape[0]) # No NaN in any Rows
print(miss.shape[0]) # At least 1 NaN in all Rows

5332
3475

In [39]:
data_quality_statistics(miss)

,Column,Number of Rows,Number of Unique Values,Number of Duplicates,Number of NaN,Percentage of NaN
0,show_id,3475,3475,0,0,0.00
1,type,3475,2,3473,0,0.00
2,title,3475,3475,0,0,0.00
3,director,3475,724,2750,2634,75.80
4,cast,3475,2551,923,825,23.74
5,country,3475,255,3219,831,23.91
6,date_added,3475,1200,2274,10,0.29
7,release_year,3475,54,3421,0,0.00
8,rating,3475,16,3458,4,0.12
9,duration,3475,167,3307,3,0.09
10,listed_in,3475,317,3158,0,0.00
11,description,3475,3464,11,0,0.00

In [41]:
df.show_id.nunique()

8807